main{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    
}
img{
    max-width: 80%;
    max-height: 400px;
    margin-left:auto;
    margin-right:auto;
}

#Special{
    font-style:italic;
    font-weight: bold;
}
